<meta property="og:title" content="{{title}}">
<meta name="twitter:title" content="{{title}}">
<meta property="og:type" content="website">
<meta name="twitter:type" content="website">
<meta property="og:image" content="{{image}}">
<meta name="twitter:image" content="{{image}}">
<meta property="og:url" content="{{url}}">
<meta name="twitter:url" content="{{url}}">
<link rel="canonical" href="{{url}}">
<meta property="og:description" content="{{description}}">
<meta name="twitter:description" content="{{description}}">
<meta name="description" content="{{description}}">