<meta property="og:title" content="{{title|default:"Baby Ketten Karaoke: the world's greatest karaoke"}}">
<meta name="twitter:title" content="{{title|default:"Baby Ketten Karaoke: the world's greatest karaoke"}}">
<meta property="og:type" content="website">
<meta name="twitter:type" content="website">
<meta property="og:image" content="{{image|default:"/static/favicon.ico"}}">
<meta name="twitter:image" content="{{image|default:"/static/favicon.ico"}}">
<meta property="og:url" content="{{url|default:"https://babyketten.com"}}">
<meta name="twitter:url" content="{{url|default:"https://babyketten.com"}}">
<link rel="canonical" href="{{url|default:"https://babyketten.com"}}">
<meta property="og:description" content="{{description|default:"Baby Ketten Karaoke: the world's greatest karaoke"}}">
<meta name="twitter:description" content="{{description|default:"Baby Ketten Karaoke: the world's greatest karaoke"}}}}">
<meta name="description" content="{{description|default:"Baby Ketten Karaoke: the world's greatest karaoke"}}}}">