{% extends "website_base.dj.html" %} {% load static %}
{% block content %}
<div class="col gap-0">
    <div class="col bg-gray-400 w-full items-center p-4">
        <h1 class="text-7xl font-bold uppercase text-center">
            Baby Ketten Karaoke
        </h1>
    </div>
    <div class="col bg-red-600 px-3 py-14 gap-8">
        <div class="col items-center gap-3 text-white text-xl sm:text-3xl *:font-bold *:tracking-tight">
            <h1>
                OPEN 7 DAYZ A WEEEK 5PM-2:30AM
            </h1>
            <h1>
                DAILEE PRIVATE KARAOKEE ROOMZ 5PM-2AM
            </h1>
            <h1>
                DAILEEPUBLIK KARAOKEE 9PM-2AM
            </h1>
            <h1>
                FULL BARR WITH 12 TAPZ + KOCKTALE MENEW
            </h1>
            <h1>
                FULL VEGANN MENEW
            </h1>
            <h1>
                ALL AGEZ ALLOWED TIL 9PM!
            </h1>
        </div>
        <div class="col items-center max-w-xl mx-auto">
            <img src="{% static 'website/bkk-sign.jpg' %}" alt="Baby Ketten Karaoke" class="w-full rounded-3xl">
        </div>
    </div>
    <div class="col bg-black px-3 py-14 gap-8 items-center">
        <div class="row gap-6 flex-wrap">
            <img src="{% static "website/bkk-gift-card.jpg" %}" alt="gift card image" class="w-full max-w-lg rounded-3xl">
            <div class="col gap-4 text-white justify-center max-w-lg">
                <h1 class="text-4xl font-bold">
                    BABY KETTEN KLUB GIFT KARDZ!!!   
                </h1>
                <h2 class="text-xl font-semibold">
                    lookin 4 tha purrfekt last minit gift? get em a gift kard 2 tha klub!
                </h2>
                <a class="p-4 bg-red-600 w-fit text-xl" href="https://squareup.com/gift/7B86QEGE6WAJN/order" target="_blank" >buy heeer</a>
            </div>
        </div>
    </div>
    <div class="col gap-4 p-3 pt-14 items-center bg-gray-400">
        <h1>
            SONG SEARCHH
        </h1>
        <a href="#">
            CLIK HEEER 2 SERCH 4 YER FAVE SONGZ!
        </a>
    </div>
    <div class="col bg-orange-400 border px-3 py-14 gap-8 items-center">
        <h1>
            Room rentals
        </h1>
    </div>
    <div class="col bg-orange-400 border px-3 py-14 gap-8 items-center">
        <h1>
            menu
        </h1>
    </div>
    <div class="col bg-orange-400 border px-3 py-14 gap-8 items-center">
        <h1>
            geeks who drink
        </h1>
    </div>
    <div class="col bg-orange-400 border px-3 py-14 gap-8 items-center">
        <h1>
           contact banner
        </h1>
    </div>
    <div class="col bg-orange-400 border px-3 py-14 gap-8 items-center">
        <h1>
            Footer contact, etc
        </h1>
    </div>
</div>
{% endblock content %}