{% extends "website_base.dj.html" %} {% load static %}
{% block content %}
<div class="col gap-0">
    <div class="col bg-red-600 px-3 py-14 gap-8">
        <div class="col items-center gap-2 text-white text-xl sm:text-3xl">
            <h1>
                OPEN 7 DAYZ A WEEEK 5PM-2:30AM
            </h1>
            <h1>
                DAILEE PRIVATE KARAOKEE ROOMZ 5PM-2AM
            </h1>
            <h1>
                DAILEEPUBLIK KARAOKEE 9PM-2AM
            </h1>
            <h1>
                FULL BARR WITH 12 TAPZ + KOCKTALE MENEW
            </h1>
            <h1>
                FULL VEGANN MENEW
            </h1>
            <h1>
                ALL AGEZ ALLOWED TIL 9PM!
            </h1>
        </div>
        <div class="col items-center max-w-xl mx-auto">
            <img src="{% static 'website/bkk-sign.jpg' %}" alt="Baby Ketten Karaoke" class="w-full rounded-3xl">
        </div>
    </div>
    <div class="col bg-black px-3 py-14 gap-8 items-center">
        <div class="row gap-6 flex-wrap">
            <img src="{% static "website/bkk-gift-card.jpg" %}" alt="gift card image" class="w-full max-w-lg rounded-3xl">
            <div class="col gap-4 text-white justify-center max-w-lg">
                <h1 class="text-4xl">
                    BABY KETTEN KLUB GIFT KARDZ!!!   
                </h1>
                <h2 class="text-xl">
                    lookin 4 tha purrfekt last minit gift? get em a gift kard 2 tha klub!
                </h2>
                <a class="p-4 bg-red-600 w-fit text-xl hover:text-black" href="https://squareup.com/gift/7B86QEGE6WAJN/order" target="_blank" >buy heeer</a>
            </div>
        </div>
    </div>
    <div class="col gap-4 px-3 py-16 items-center bg-gray-400/90">
        <h1 class="text-4xl">
            SONG SEARCHH
        </h1>
        <a href="#" class="text-xl text-black underline">
            CLIK HEEER 2 SERCH 4 YER FAVE SONGZ!
        </a>
    </div>
    <div class="col bg-black px-3 py-14 gap-8 items-center">
        <div class="row gap-6 flex-wrap justify-between w-full max-w-6xl mx-auto">
            <img src="{% static "website/bkk-private-rooms.jpg" %}" alt="gift card image" class="w-full max-w-lg rounded-3xl">
            <div class="col gap-4 text-white justify-center items-center max-w-lg">
                <h1 class="text-4xl">
                    SINGG ALLL OF THA SONGZ!
                </h1>
                <p class="text-xl text-center leading-8">
                    FOUR SIZES &amp; STYLEZ OF ROOOMZ 2 PICK FRUM!
                    (DONT MISS THA DROPP DOWNN OPSHUN 2 SELEKT MOAR THAN ONE HOURR! A MINIMUMM OF 2 IS RECCOMENDEDD 4 MAXXIMUM FUNTIMEZ)
                </p>
                <a class="p-4 bg-pink-600 w-fit text-2xl hover:text-black" href="https://babykettenklub.square.site/s/appointments" target="_blank" >RESERV YER RUME NOWW</a>
            </div>
        </div>
    </div>
    <div class="col bg-black px-3 py-14 gap-8 items-center">
        <div class="row gap-6 flex-wrap justify-between w-full max-w-6xl mx-auto">
            <img src="{% static "website/bkk-kitchen.jpg" %}" alt="gift card image" class="w-full max-w-lg">
            <div class="col gap-4 text-white items-center max-w-lg">
                <h1 class="text-4xl">
                    ALLL OF THA VEGN FUDE!
                </h1>
                <div class="col text-xl text-center gap-3">
                    <p>
                        V-GN KOMFORT FUDE FRUM THA KETCHEN MADE WITH &lt;3 
                    </p>
                   <p>
                     OPEN 4 DINE-INN 7-DAYZ-A-WEEEK
                   </p>
                   <p>
                     FULL MENEW 5PM-12PM
                   </p>
                   <p>
                    LATE NYTE MENEW 12-CLOSE
                   </p>
                </div>
                <a class="p-4 bg-pink-600 w-fit text-2xl hover:text-black visited:text-white" href="{% url "website:menus" %}" >VIEW ALL FOOOD &amp; DRINK MENEWZ</a>
            </div>
        </div>
    </div>
    <div class="col bg-black px-3 py-14 gap-8 items-center">
        <div class="row gap-6 flex-wrap justify-between w-full max-w-6xl mx-auto">
            <img src="{% static "website/bkk-geeks-who-drink.jpg" %}" alt="gift card image" class="w-full max-w-lg">
            <div class="col gap-4 text-white items-center justify-center w-full max-w-lg">
                <h1 class="text-4xl">
                    WEEEKLEE TRIVIAH!
                </h1>
                <h2 class="text-xl">
                    FREEE 2 PLAY! EVRY TUEZDEY 7-9 WITH PRIZEZ!
                </h2>
                <a class="p-4 bg-red-600 w-fit text-2xl hover:text-black" href="https://www.geekswhodrink.com/" target="_blank" >LERN MOAR</a>
            </div>
        </div>
    </div>
    <div class="col bg-red-600 px-4 py-14 gap-8 items-center text-white">
        <h1 class="text-4xl">
            KONTAKT US
        </h1>
        <p class="arial text-center text-xl">
            DROPP US A LINE OR STOP BY SEW WE KAN SEE YER KUTE KETTEN FACE &lt;3
        </p>
        <div class="col arial sm:row gap-8 flex-wrap text-xl justify-between w-full max-w-6xl items-center">
            <div class="col items-center">
                <span>EMAIL US @</span>
                <a href="mailto:john@babyketten.com?subject=Website Contact" class="hover:text-black">JOHN@BABYKETTEN.COM</a>
            </div>
            <div class="row">
                <span>
                    CALL THA KLUB @
                </span>
                <a href="tel:+15034447903" class="hover:text-black">503 444-7903</a>
            </div>
            <div class="col">
                <span>BABY KETTEN KLUB</span>
                <address>
                    <a href="https://g.page/babykettenklub?share" class="col not-italic underline hover:text-black">
                        <span>
                           2433 SE Powell Blvd 
                        </span>
                        <span>
                            Portland, OR 97202
                        </span>
                        </a>
                </address>
            </div>
        </div>
    </div>
    <div class="col bg-black text-white px-3 py-14 gap-8 items-center max-w-2xl text-center mx-auto">
        <h1 class="text-3xl">
            INTERESTD IN BOOKING BABY KETTEN KARAOKE 4 YER SPESHUL EVENT?
        </h1>
        <p class="arial tracking-wider">
            WE DO OFFSITE PRIVATE EVENTZ OF ALLL SHAPEZ &amp; SIZEZ! WEDDINGZ, BDAYZ, KORPORAT EVENTZ, CELEBRASHUN OF LIFE, YOU NAME IT, WE KAN DO IT!
        </p>
        <div class="row flex-wrap justify-center items-center text-2xl">
            <span>EMAIL US @</span>
            <a href="mailto:john@babyketten.com?subject=Website Contact" class="arial">JOHN@BABYKETTEN.COM</a>
        </div>
        <a href="mailto:john@babyketten.com?subject=Website Contact" class="py-4 px-6 bg-gray-400/90 text-black text-xl hover:bg-gray-500 hover:text-gray-100">KONTACT US</a>
    </div>
    <br><br><br>
</div>
{% endblock content %}