{% extends "website_base.dj.html" %} {% load static %}
{% block content %}
<div class="col gap-0">
    <div class="col bg-neutral-400 w-full items-center p-4 py-8">
      <a href="{% url "website:index" %}"><h1 class="text-6xl uppercase text-center text-black">
            Baby Ketten Karaoke
        </h1></a>  
    </div>
    <div class="col bg-black px-3 py-14 gap-8 items-center">
        <div class="row gap-6 flex-wrap">
            <img src="{% static "website/bkk-kitchen-menu.jpg" %}" alt="food menu image" class="w-full max-w-lg">
            <div class="col gap-4 text-white justify-center max-w-lg">
                <h1 class="text-4xl text-center">
                    ALSO CHEK OWT OUR WEEKLEE SPESHALZ!!  
                </h1>
                <div class="col items-center text-xl tracking-wider arial">
                    <p>
                        OPEN 4 DINE-IN 7 DAYZ A WEEEK 5PM-2:30AM
                    </p> 
                    <p>
                        NOT CURRRENTLEEE EXEPTIN TO-GO ORDERZ
                    </p>
                </div>
   
            </div>
        </div>
    </div>
    <div class="col bg-red-600 px-3 py-14 gap-8 items-center">
        <div class="row gap-6 flex-wrap justify-between w-full max-w-6xl mx-auto">
            <img src="{% static "website/bkk-drinks-menu.jpg" %}" alt="drinks menu image" class="w-full max-w-lg">
            <div class="col gap-4 text-white justify-center items-center max-w-lg">
                <h1 class="text-5xl text-center">
                    TAPP LIST, CANZ/BOTTLEZ, WINEZ, SOJU, SAKE, N/A
                </h1>
                <p class="arial text-xl text-center">
                    SEW MANEEE OPSHUNZ!!!
                </p>
            </div>
        </div>
    </div>
    <div class="col bg-neutral-400 px-3 py-14 gap-8 items-center">
        <div class="row gap-6 flex-wrap justify-center w-full max-w-6xl mx-auto">
            <img src="{% static "website/bkk-cocktail-menu.jpg" %}" alt="cocktail menu image" class="w-full max-w-lg">
            <div class="col gap-4 text-black justify-center max-w-lg">
                <h1 class="text-5xl text-center">
                    KETTEN KOCKTALEZ!!
                </h1>
                <p class="arial text-xl">
                    TRY EM ALL!
                </p>
            </div>
        </div>
    </div> 
    <br><br>
</div>
{% endblock content %}