{% extends "website_base.dj.html" %} {% load static %}
{% block content %}

<div class="col gap-8 py-4 justify-center items-center">
	<div class="max-w-3xl p-4">
		  	<img src="{% static "website/bkklogobwtouchup.jpg" %}" width="100%" height="271" />
	</div>

	<div class="col text-4xl items-center gap-6">
		   	<a href=" {% url "website:index" %} " target="_top">ENTER BKK OREGON</a>
			<a href="{% url "washingtonsite:index" %}">ENTER BKK WASHINGTON</a>
	</div>


  

<p class="arial text-lg text-white tracking-wide">
  R USING A MOBILULAR D-VICE  4 SONG SERCH?
</p>

<div class="row gap-3">
	<a href="http://itunes.apple.com/us/app/baby-ketten/id368869099?mt=8" target="_blank">
		<img src="{% static "website/apple.png" %}" width="100" height="100" alt="iphone app!" longdesc="http://itunes.apple.com/us/app/baby-ketten/id368869099?mt=8" />
	</a>
	<a href="http://book.babyketten.com" target="_blank">
		<img src="{% static "website/google-android.png" %}" width="100" height="100" alt="android web app!" />
	</a>
	<a href="http://book.babyketten.com" target="_blank">
		<img src="{% static "website/windows.png" %}" width="100" height="100" alt="windows phone web app!" />
	</a>
</div>

</div>
{% endblock content %}