{% extends "website_base.dj.html" %} {% load static %}
{# clear title for splashpage #}
{% block upperbody %}{% endblock upperbody %}
{% block content %}
<div class="col gap-8 py-4 justify-center items-center">
	<div class="max-w-3xl p-4">
		  	<img src="{% static "website/bkklogobwtouchup.jpg" %}" width="100%" height="271" />
	</div>
	<div class="arimo col text-3xl items-center justify-center gap-3 text-center">
		   	<a href=" {% url "website:index" %} " class="visited:text-white">ENTER BKK OREGON</a>
			<a href="{% url "washingtonsite:index" %}" class="visited:text-white">ENTER BKK WASHINGTON</a>
	</div>
<p class="arial p-3 text-lg text-white tracking-wide">
  R USING A MOBILULAR D-VICE  4 SONG SERCH?
</p>
<div class="row gap-3">
	<a href="http://itunes.apple.com/us/app/baby-ketten/id368869099?mt=8" target="_blank">
		<img src="{% static "website/apple.png" %}" width="100" height="100" alt="iphone app!" longdesc="http://itunes.apple.com/us/app/baby-ketten/id368869099?mt=8" />
	</a>
	<a href="http://book.babyketten.com" target="_blank">
		<img src="{% static "website/google-android.png" %}" width="100" height="100" alt="android web app!" />
	</a>
	<a href="http://book.babyketten.com" target="_blank">
		<img src="{% static "website/windows.png" %}" width="100" height="100" alt="windows phone web app!" />
	</a>
</div>
</div>
<br><br>
{% endblock content %}