@tailwind base;
@tailwind components;
@tailwind utilities;
/* ncff primary: #002745 */
@layer components {
  /* .btn {
    @apply px-4 py-2 rounded-md bg-blue-500 text-white;
  } */
  .col {
    @apply flex flex-col gap-1;
  }
  .row {
    @apply flex flex-row gap-1;
  }
}
a:link {
  color: #FFF;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: none;
  color: #F00;
}
a:active {
  text-decoration: none;
  color: #F00;
}
a {
    @apply text-white visited:text-gray-400 hover:text-red-600 active:text-red-600;
 }
