{% load static %} <!DOCTYPE html><html lang="en">
  {% comment %} {% spaceless %} {% endcomment %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tw.css' %}" />
    <link rel="icon" href="{% static "favicon.ico" %}" sizes="32x32" />
    {#  TODO: meta tags / seo  #}
    <link
      rel="preload"
      {% comment %} href="https://cdn.karanook.com/assets/montserrat_latin.woff2" {% endcomment %}
      href="{% static 'website/fonts/Anton-Regular.woff2' %}"
      as="font"
      type="font/woff2"
      crossorigin
    />  
    <link rel="stylesheet" href="{% static "website/styles.css" %}">    
    {% block extra_head %}{% endblock extra_head %} {% block extra_styles %} {% endblock extra_styles %}
    {% block extra_meta_head %}
    {# TODO: all meta tags for bkk-or, override base for washington #}
    <meta name="description" content="Baby Ketten Karaoke: the world's greatest karaoke">
    {% endblock extra_meta_head %}
    <title>{% block page_title %}{% endblock page_title %} Baby Ketten Karaoke</title>
</head>
<body bgcolor="#000000" link="#FFFFFF" vlink="#999999" class="twoColLiqLtHdr">
    <div class="col bg-neutral-400 w-full items-center p-4 py-8">
        <a href="{% url "website:index" %}"><h1 class="text-6xl uppercase text-center text-black">
              Baby Ketten Karaoke
          </h1></a>  
      </div>
    {% comment %} {% include 'common/messages_list.html' %} {% endcomment %}
    <div id="container" class="block-content">{% block content %}{% endblock content %}</div>
</body>
{% block bottom_scripts %}{% endblock bottom_scripts %}
</html>
{% comment %} {% endspaceless %} {% endcomment %}