{% extends "washingtonsite_base.dj.html" %}
{% block content %}
<div id="mainContent">
    <h1 id="head">showz in seattle:<br />
     <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=450&amp;wkst=1&amp;bgcolor=%23666666&amp;src=b73eparqatr3h2160l7i298tas%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style=" border:solid 1px #777 " width="600" height="450" frameborder="0" scrolling="no"></iframe>
      <br />
<br />
 __________________________<br />
    </h1>
<blockquote>&nbsp; </blockquote>
    <h1></h1>
    <h2><br />
    </h2>
</div>
{% endblock content %}