{% extends "washingtonsite_base.dj.html" %}
{% block content %}
<div class="col gap-6 p-6">
    <h1 class="text-3xl font-bold text-gray-500">showz in seattle:</h1>
     <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=450&amp;wkst=1&amp;bgcolor=%23666666&amp;src=b73eparqatr3h2160l7i298tas%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style=" border:solid 1px #777 " width="600" height="450" frameborder="0" scrolling="no"></iframe>

<h2 class="text-3xl font-bold text-gray-500">
     __________________________
</h2>

    
</div>
{% endblock content %}