{% extends "washingtonsite_base.dj.html" %}
{% block content %}
<div id="mainContent">
    <h1 id="head"> get ahold of us..</h1>
    <p>- washington</p>
    <p>ivan terrazas<br />
      (206) 550-1343<br />
      <a href="mailto:ivan@babyketten.com">ivan@babyketten.com</a><br />
      <br />
    - oregon</p>
    <p>john brophy<br />
      (503) 200-0000<br />
  <a href="mailto:john@babyketten.com">john@babyketten.com</a></p>
    <p>  <br />
      <br />
    </p>
    <h2><br />
    </h2>
</div
{% endblock content %}

