{% extends "washingtonsite_base.dj.html" %}
{% block content %}
  <div id="mainContent">
    <p>i know, i know, karaoke is supposed to kinda suck. it is traditionally composed of bad sound, limited song choices, and frat boy margaritaville sing-alongs. we do it all wrong with  flattering sound systems, songs that you actually want to sing but can't find anywhere, and magical song slips that self destruct if &quot;grease megamix&quot; is written on them. </p>
    <h2>
<br />
    </h2>
</div>
{% endblock content %}