{% extends "washingtonsite_base.dj.html" %}{% load static %}
{% block content %}
<div class="col px-4">
<h1 class="text-4xl font-bold">links!</h1>
<div class="col items-center gap-8">
    <div class="row gap-2">
    <a href="http://www.facebook.com/pages/baby-ketten-karaoke-WA/400916669017?ref=ts" target="_blank">
        <img src="{% static "washingtonsite/fb.png" %}" width="75" height="75" alt="baby ketten karaoke washington on facebook" />
    </a>
    <a href="http://www.twitter.com/babykettenwa" target="_blank">
        <img src="{% static "washingtonsite/twitter.png" %}" width="75" height="75" alt="follow baby ketten karaoke on twitter" />
    </a>
</div>
<a href="{% url "website:index" %}">
    <img src="{% static "washingtonsite/bkklogolinkor.gif" %}" width="350" height="121" alt="bkk in oregon!" />
</a>

</div>
</div>
{% endblock content %}