{% extends "washingtonsite_base.dj.html" %}
{% comment %} {% block extra_head %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
    $(function() {
        $("#spinner").hide();
        $("#searchform").submit(function() {
            search = $("#search").val();
            searchby = $("#searchby").val();

            if (search != "") {
                ajaxSearch(search, searchby);
            }
            return false;
        });
    });
    
    function ajaxSearch(search, searchby) {
        $("#spinner").show();
        $.getJSON("https://bkk.schepman.org/jsonp?search=" + search + "&searchby=" + searchby + "&jsoncallback=?",
        function(data) {
            $("#results").empty();
            var table = "<table><tr><th>Artist</th><th>Title</th></tr>";
            //array of maps
            $.each(data, function(index, value) {
                table += "<tr><td>" + value['artist'] 
                        + "</td>" + "<td>" + value['title'] + "</td></tr>";
            });
            $("#spinner").hide();
            $("#results").html(table);
        });
    }
</script>
{% endblock extra_head %} {% endcomment %}
{% block content %}
<div class="col gap-4 p-4">
    <h1 class="text-4xl font-semibold">find your faves!</h1>
    <form id="searchform" class="row gap-2">
 <h1 class="text-xl">
    Search by:
 </h1>
            
            <select class="rounded" id="searchby">
                <option>artist</option>
                <option>title</option>
            </select>
            <input class="rounded px-2" id="search" name="search" type="textbox" />
            <input class="rounded px-2 bg-slate-200 text-black shadow" id="btnSearch" type="submit" value="Go!" />
            <img id="spinner" src="ajaxload.gif" />

    </form>


<div id="results"></div>
<div id="form2"></div>
<div id="results2"></div>



<h2 class="text-xl font-semibold">
if u don't find what you are looking 4 please email songs@babyketten.com with requests!
</h2>
</div>
{% endblock content %}
{% block bottom_scripts %}
<script>
    const spinnerEl = document.getElementById('spinner');
    spinnerEl.style.display = 'none';
    const searchFormEl = document.getElementById('searchform');
    const resultsEl = document.getElementById('results');

    function search(query, filter){
        spinnerEl.style.display = 'block';
        const url = 'https://bkk.schepman.org/jsonp?search=' + query + '&searchby=' + filter + '&jsoncallback=?';
        fetch(url, {method: 'GET'})
            .then(response => response.json())
            .then(data => {
                let table = '<table><tr><th>Artist</th><th>Title</th></tr>';
                data.forEach(function(item){
                    table += '<tr><td>' + item.artist + '</td><td>' + item.title + '</td></tr>';
                });
                spinnerEl.style.display = 'none';
                resultsEl.innerHTML = table;
            })
            .catch(error => {console.log(error);spinnerEl.style.display = 'none';});
    }

    searchFormEl.addEventListener('submit', function(event) {
        event.preventDefault();
        const searchEl = document.getElementById('search');
        const searchbyEl = document.getElementById('searchby');
        const search = searchEl.value;
        const searchby = searchbyEl.value;
        if (search !== '') {
            ajaxSearch(search, searchby);
        }
    });
</script>
{% endblock bottom_scripts %}


