{% extends "washingtonsite_base.dj.html" %}{% load static %}
{% block content %}
<div class="col gap-4 p-4">
    <h1 class="text-4xl font-semibold">find your faves!</h1>
    <form id="searchform" class="row gap-2">
 <h1 class="text-xl">
    Search by:
 </h1>
            
            <select class="rounded" id="searchby">
                <option>artist</option>
                <option>title</option>
            </select>
            <input class="rounded px-2" id="search" name="search" type="textbox" />
            <input class="rounded px-2 bg-slate-200 text-black shadow" id="btnSearch" type="submit" value="Go!" />
            <img id="spinner" src="{% static "washingtonsite/ajaxload.gif" %}" />

    </form>

    <div class="hidden">
        <table>
            <tr class="text-white"><th>Artist</th><th>Title</th></tr>
            <tbody id="tbresults">
            </tbody>
        </table>
    </div>



<h2 class="text-xl font-semibold">
if u don't find what you are looking 4 please email songs@babyketten.com with requests!
</h2>
</div>
{% endblock content %}
{% block bottom_scripts %}
<script>
    const baseUrl = "{% url 'washingtonsite:song_search' %}";
    const spinnerEl = document.getElementById("spinner");
    const searchFormEl = document.getElementById("searchform");
    const tableBodyEl = document.getElementById("tbresults");
    const searchEl = document.getElementById("search");
    const searchbyEl = document.getElementById("searchby");
    spinnerEl.style.display = "none";
    let lastQuery = "";
    let lastFilter = "";
    let lastResults = undefined;
    let currPage = 0;
    const pageSize = 25;
    
    function renderResults(data) {
      while (tableBodyEl.firstChild) {
        tableBodyEl.removeChild(tableBodyEl.firstChild);
      }
      data.forEach(function (item) {
        const tr = document.createElement("tr");
        const artist = document.createElement("td");
        artist.innerText = item.artist;
        tr.appendChild(artist);
        const title = document.createElement("td");
        title.innerText = item.title;
        tr.appendChild(title);
        tableBodyEl.appendChild(tr);
      });
    }
    
    searchFormEl.addEventListener("submit", function (event) {
      event.preventDefault();
      const query = searchEl.value;
      const filter = searchbyEl.value;
      if (query !== "") {
        spinnerEl.style.display = "block";
        const url =
          baseUrl +
          "?search=" +
          encodeURIComponent(query) +
          "&searchby=" +
          encodeURIComponent(filter);
    
        lastQuery = query;
        lastFilter = filter;
    
        fetch(url)
          .then(response => response.json())
          .then(resp => {
            if (!resp || !resp.data) {
              throw new Error("no data");
            }
            lastResults = resp.data;
    
            // const data = resp.data.slice(currPage * pageSize, (currPage + 1) * pageSize);
    
            renderResults(resp.data);
            tableBodyEl.parentElement.parentElement.classList.remove("hidden");
          })
          .catch(console.error)
          .finally(() => {
            spinnerEl.style.display = "none";
          });
      }
    });
</script>
{% endblock bottom_scripts %}


